$nprogress-color: #ff9800 ;
$nprogress-height: 5px;
$nprogress-zindex: 10100;

@import "font-awesome";
@import "summernote";
@import "codemirror";
@import "codemirror/themes/solarized";


@import 'nprogress';
@import 'nprogress-bootstrap';